
{% for post in postslist | reverse %}
<div class="columns is-gapless">
  <div class="column is-one-fifth">
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time>
  </div>
  <div class="column">
    <article class="">
      <div class="title">
        <a class="has-text-success" href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
      <div class="content">
        {% if postslist.indexOf(post) == postslist.length-1 %}
          {{post.content | safe}}
        {% else %}
          {% if post.content.length > 200 %}
            {{ post.content.substring(0,200) | safe }}... <a class="is-link" href="{{ post.url }}"> continue</a>
          {% else %}
            {{ post.content | safe }}
          {% endif %}
        {% endif %}
      </div>
    </article>
  </div>
</div>
{% endfor %}
