
{% for post in postslist | reverse %}
<article id="{{ post.data.title }}">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <a class="text-2xl font-semibold text-slate-700 hover:text-lime-700" href="{{ post.url }}">{{ post.data.title }}</a>
    </div>
    <div class="col-span-1">
        <time class="text-slate-700" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time>
    </div>
    <div class="col-span-6 col-start-1 py-5 pb-5 border-b-2 border-slate-300">
      {% if postslist.indexOf(post) == postslist.length-1 %}
        {{post.content | safe}}
      {% else %}
        {% if post.content.length > 200 %}
          {{ post.content.substring(0,200) | safe }}... <a class="font-semibold hover:underline" href="{{ post.url }}"> continue</a>
        {% else %}
          {{ post.content | safe }}
        {% endif %}
      {% endif %}
    </div>
  </div>
</article>
{% endfor %}
