<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body class="">
		<header>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav class="mx-auto flex w-full items-center justify-between p-6 lg:px-8 bg-slate-800" role="navigation" aria-label="main navigation">
        <div class="relative flex w-full justify-between lg:static lg:block lg:w-auto lg:justify-start">
          <a class="mr-4 inline-block whitespace-nowrap py-2 font-bold uppercase leading-relaxed text-blue-300 text-lg" href="https://dumasymptote.com">dumasymptote(dot)com</a>
          <a role="button" class="block cursor-pointer rounded border border-solid border-transparent bg-transparent px-3 py-1 text-xl leading-none text-slate-400 outline-none focus:outline-none lg:hidden" aria-label="menu" aria-expanded="false" data-target="navbar" >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
              className="fill-slate-400"
            >
              <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
          </a>
        </div>
        <ul id="navbar" class="hidden lg:flex lg:gap-x-12">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="text-blue-300 text-lg"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
          <li class="text-blue-300 text-lg"><a href="#">FinTrack</a></li><!--https://fintrack.dumasymptote.com will work in future-->
        </ul>
			</nav>
		</header>
		<main class="">
			{{ content | safe }}
		</main>
		<footer></footer>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
<!-- capture the JS content as a Nunjucks variable -->
	{% set js %}
		{% include "../../_includes/scripts/main.js" %}
	{% endset %}
	<!-- feed it through our jsmin filter to minify -->
	<script>
		{{ js | jsmin | safe }}
	</script>
	</body>
</html>
